/* importando uma fonte local */
@font-face {
  font-family: "Montserrat";
  src: url(../font/Montserrat/Montserrat-VariableFont_wght.ttf);
  font-style: normal;
  font-display: swap;
}

/* criando variáveis globais para controlar o tema do meu site */
:root {
  /* background */
  --background-primary-color: #0f172a;
  --background-secondary-color: #1e293b;
  --background-tertiary-color: #354c71;

  /* button */
  --btn-primary-color: #3b82f6;
  --btn-secondary-color: #2563eb;

  /* text */
  --text-primary-color: #f8fafc;
  --text-secondary-color: #94a3b8;

  /* peso */
  --titles-weight: 700;
  --text-weight: 400;
  --menu-text-weight: 500;

  /* font */
  --font-primary: "Montserrat", Arial, Helvetica, sans-serif;
}

/* Reset básico */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-primary);
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background: var(--background-primary-color);
  color: var(--text-primary-color);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

li{
    list-style: none;
}

a {
    text-decoration: none;
}

/* media querie tablet*/
/* @media screen and (max-width: 768px) {
  body{ 
    background-color: var(--background-tertiary-color);
  }
} */