
/* HEADER */
header {
  background-color: var(--background-tertiary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 48px;
}

/* LOGO */
.logo {
  display: flex;
  align-items: center;
}

.logo img {
    filter: brightness(0) invert(1);
}

/* MENU */
.menu {
  display: flex;
  align-items: center;
}

/* BOTÃO MENU */
.menu button {
  background: none;
  border: none;
  cursor: pointer;
}

.menu button img {
  width: 42px;
  height: 42px;
}

/* NAV ESCONDIDO */
nav {
  display: none;
}

/* LISTA */
.list-items {
  list-style: none;
}

/* LINKS */
.list-items a {
  text-decoration: none;
  color: var(--text-secondary-color);
}