/* HEADER */
header {
  background-color: var(--background-tertiary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 48px;
  position: relative;
}

/* LOGO */
.logo img {
  filter: brightness(0) invert(1);
}

/* NAV ESCONDIDO */
.nav-container {
  position: absolute;
  top: 100%;
  right: 0;
  margin: 0.5rem 0.5rem 0 0;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transform: translateY(-15px) scale(0.98);

  transition:
    opacity 0.3s ease,
    transform 0.3s ease,
    visibility 0.3s;
}

/* MENU ABERTO */
input[type="checkbox"]:checked ~ nav {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;

  transform: translateY(0) scale(1);
}

/* LISTA */
.list-items {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.list-items li {
  background-color: var(--background-tertiary-color);
  padding: 1rem 1.2rem;
  border-radius: 5px;
  transition: background 0.8s ease-in-out;
}

.list-items li:hover {
  background: var(--background-secondary-color);
}

/* LINKS */
.list-items a {
  text-decoration: none;
  color: var(--text-secondary-color);
  transition: color 0.8s ease-in-out;
}

.list-items a:hover {
  color: var(--text-primary-color);
}
