/* mobile banner */
.hero-img {
  height: 400px;
  width: 100%;
  /* background-image: url("../img/mobile-banner.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; */
  background: url("https://i.pinimg.com/originals/09/ed/9f/09ed9f6148bf455507f39f6e685c454c.gif")
    no-repeat center;
  background-size: cover;
}

.hero-description {
    padding: 2rem 2rem;
    text-align: center;
    text-transform: capitalize;
    font-size: 1rem;
}

.hero-description .red {
    color: rgb(188, 16, 16);
}

.hero-description .green {
    color: rgb(42, 186, 42);
}

/* tablet banner */
@media screen and (min-width: 768px) {
  .hero-img {
    background: url("https://i.pinimg.com/736x/38/8e/e8/388ee8a5ceac1c2b0e78541518864464.jpg")
      no-repeat center;
    background-size: cover;
  }

  .hero-description {
    font-size: var(--medium-title);
  }
}

/* desktop banner */
@media screen and (min-width: 1024px) {
  .hero-img {
    background: url("https://i.pinimg.com/736x/d0/cd/fd/d0cdfd2c9b409784a23911bc084ee45e.jpg")
      no-repeat center;
    background-size: cover;
  }

  .hero-description {
    font-size: var(--giant-title);
  }
}
