/* GRID */
.offer-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 480px));
  justify-content: center;
  gap: 1.5rem;
  padding: 1rem;
  color: var(--text-secondary-color);
}

/* CARD */
.card {
  text-align: center;
  background: url("https://i.pinimg.com/736x/15/73/8c/15738c2987b90315109fdb58e2f17632.jpg")
    no-repeat center;
  background-size: cover;
  min-height: 250px;
  height: auto;

  border-radius: 12px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card header {
  padding: 1.5rem 1rem;
}

.card header h3 {
  margin-top: 8px;
}

.card header h3 span {
  font-size: clamp(1.2rem, 3vw, 1.8rem);
  margin-top: 16px;
  display: inline-block;
}

.card .button {
  padding: 0.8rem;
  background-color: var(--btn-primary-color);
  border-radius: var(--radius-sm);
  transition: background var(--transition-default);
  font-size: clamp(1rem, 2.5vw, 1.3rem);
  color: var(--text-secondary-color);
  margin: 1rem;
  position: static;
}

.card .button:hover {
  background-color: var(--btn-primary-hover);
}